*{
    margin: 0;
    padding: 0;
}
header{
    height: 20vh;
    background-color: #353535;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

.logo{
    height: 80%;
}

body{
    background-color: teal;
}

.inputRegistro{
    display: inline-block !important;
}

.errorMsg{
    color: red !important; 
}

.botonesNavbar{
    height: 50px;
    
}

.barraHerramientas{
    background-color: #353535 !important;
}

/* .contenedorCards{
    display: flex;
    flex-direction: row;
    width: 100vw;
} */

.card{
    margin-bottom: 10px;
    cursor: pointer;
}
.contenedorCard{
    margin-bottom: 20px !important;
}

.dropdown-item{
    cursor: pointer;
}

#formCategoria{
    visibility: hidden;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}


.dropdown-menu{
    height: 350px;
    overflow-x:hidden; 
    overflow-y:auto;   
}

/* .imgMasVendido{
    height: 35vh !important;
} */

 /* OPCION 2 */
 /* .card-img-top{
 width: 100%;
height: 40vh;
object-fit: cover; 
}  */

/* main{
    display: flex;
    flex-direction: column; 
    height: 75vh;
} */

/* .elemento{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    text-align: center;
} */

/* .button{
    background: #576066;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 15px;
    transition: .3s ease all;
    margin-left: 10px;
    margin-top: 40px; 
}

.button:hover {
    background: lightblue;
    color: black;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, .15);
}

.inputText{
    width: 250px;
    height: 25px;
} */


/* footer{
    height: 5vh;
    background-color: #353535;
    display: flex;
    justify-content: space-around;    
    width: 100%;
    color: white;
} */